@font-face {
  font-family: "Noto Sans KR";
  src: url("../assets/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body, canvas{
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
}